@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

.slick-slide {
  padding-right: 36px;
  padding-left: 36px; 
 /*  margin: 30px 0; */
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xVFteOcEg.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}


